@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue Chez les <strong>GueMéeMens</strong></h1>
    <p>Retrouvez nous aussi sur <a href="https://docs.microsoft.com/aspnet/core">Android et Ios</a>.</p>
    <img src="~/images/BarnerLesGueMeeMens.jpg" />
</div>
